@import "components/app/app.scss";
@import "components/header/header.scss";
@import "components/spares/spares.scss";

@media only screen and (max-width: 2480px) {
  .main {
    width: 1440px;
    height: 814px;
  }
  .carsWrapper {
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  hr {
    width: 100%;
  }
  .sparesConteiner:hover {
    margin-top: -12px;
    margin-left: -1px;
  }
}
@media only screen and (max-width: 1439px) {
  .main {
    width: 1000px;

    display: flex;
  }
  .carsWrapper {
    width: 1000px;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }

  .sparesConteiner {
    max-width: 330px;
    margin-left: 30px;
    max-height: 90px;
    padding-top: 19px;
    .sparesItem {
      width: 168px;
      height: 425px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #333333;
      margin-right: 11px;
    }
    .buttonImageWrapperBlue {
      display: none;
    }
    .buttonImageWrapper {
      float: right;
      margin-top: 14px;
      margin-right: 20px;

      .buttonImage {
        width: 14px;
        height: 14px;
        object-fit: contain;
      }
    }
    hr {
      display: block;
      width: 280px;
      height: 1px;
      opacity: 0.75;
      background-color: #e5e5e5;
      margin-top: 51px;
      margin-left: -1px;
    }
  }
  .txet {
    display: none;
  }
  .carDetails {
    display: none;
  }
  .sparesConteiner:hover {
    max-width: 330px;
    height: 90px;
    box-shadow: 0 0 30px 0 rgba(122, 122, 122, 0.28);
    background-color: #ffffff;
    padding-top: 19px;
    padding-left: 29px;
    margin-top: -12px;
    margin-left: -1px;
    hr {
      display: none;
    }
    .carDetails {
      display: block;
      width: 94px;
      height: 20px;
      opacity: 0.5;
      font-family: Roboto;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #333333;
    }
    .sparesItem {
      width: 183px;
      height: 25px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      color: #1a77d2;
    }
    .buttonImageWrapperBlue {
      display: block;
      float: right;
      margin-right: 20px;
      margin-top: 14px;
      .buttonImage {
        width: 19px;
        height: 19px;
        object-fit: contain;
      }
    }
    .buttonImageWrapper {
      display: none;
    }
    .txet {
      display: block;
      line-height: 1;
      opacity: 0.2;
    }
  }
}

@media only screen and (max-width: 425px) {
  .main {
    width: 100%;
    height: 753px;
    margin-top: 46px;
  }
  .carsWrapper {
    width: 375px;
    display: flex;
    flex-direction: column;
    hr {
      width: 92%;
    }
  }
  .sparesConteiner:hover {
    padding-top: 22px;
    margin-top: -12px;
  }
  .buttonImageWrapperBlue {
    padding-left: 100px;
  }
  .sparesConteiner {
    width: 100%;
    margin-left: -10px;
    padding-top: 10px;
    padding-left: 7%;
  }
  .header {
    margin-left: 25px;
    width: 298px;
    height: 96px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 10px;
  }
  .newCarsButton {
    width: 290px;
    height: 60px;
    border-radius: 3px;
    background-color: #f5f5f5;
    
  }
}
@media only screen and (max-width: 325px) {
  .newCarsButton {
    margin-left: 50px;
  }
}