.header {
    width: 374px;
    height: 64px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    margin-right: 596px;
    margin-bottom: 58px;
    margin-left: 71px;
}